@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 0;
}

.App::before {
  content: "";
  width: 150vw;
  height: 60vh;
  background: #c7acda;
  position: fixed;
  top: -10%;
  z-index: -1;
  border-radius: 98%;
}
